.circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
}
.even {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: green;
}
.odd {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
}
