.main {
  background-color: beige;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main div {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
